.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1123px;
}

.u-section-1 .u-image-1 {
  width: 936px;
  height: 723px;
  margin: 126px auto 0 23px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: -699px 0 0 570px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  text-transform: none;
  margin: 512px 617px 0 31px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 524px;
  margin: -238px 0 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 399px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,46,41,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,46,41,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,46,41,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,46,41,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-1 .u-image-1 {
    height: 670px;
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
    width: auto;
    margin-top: -646px;
    margin-left: 454px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 448px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 566px;
    height: auto;
    margin-top: -221px;
    margin-bottom: -166px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 14.5px) calc(50% - 14.5px);
    grid-gap: 29px 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-1 .u-image-1 {
    width: 626px;
    height: 626px;
    object-position: 70.97% 100%;
    margin-top: 80px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
    margin-top: -600px;
    margin-left: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 822px;
    margin-right: 228px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -519px;
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1211px;
  }

  .u-section-1 .u-image-1 {
    width: 474px;
    height: 539px;
    object-position: 39.38% 100%;
    margin-top: 184px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -643px;
    margin-left: 160px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 889px;
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-1 .u-list-1 {
    width: 492px;
    margin-top: -499px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1492px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 387px;
    margin-top: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-top: -524px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1222px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 258px;
    margin-top: -879px;
    margin-right: auto;
    margin-bottom: -31px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 716px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 716px;
}

.u-section-2 .u-container-layout-1 {
  padding: 60px 0 60px 50px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 46px 78px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 30px 95px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-weight: 400;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
  border-style: none;
  margin: 46px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 716px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 20px 30px;
}

.u-section-2 .u-shape-1 {
  width: 452px;
  height: 452px;
  background-image: none;
  margin: 85px auto 0;
}

.u-section-2 .u-image-1 {
  width: 641px;
  height: 521px;
  margin: -469px 20px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 37px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 8px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 647px;
  }

  .u-section-2 .u-shape-1 {
    width: 431px;
    height: 431px;
    margin-top: 51px;
    margin-right: 25px;
  }

  .u-section-2 .u-image-1 {
    width: 555px;
    height: 451px;
    margin-top: -414px;
    margin-right: auto;
    margin-left: -52px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 561px;
  }

  .u-section-2 .u-shape-1 {
    width: 358px;
    height: 358px;
    margin-top: 65px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-1 {
    width: 424px;
    height: 344px;
    margin-top: -344px;
    margin-left: -46px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 68px;
    padding-bottom: 30px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 471px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 10px;
  }

  .u-section-2 .u-shape-1 {
    width: 429px;
    height: 429px;
    margin-top: 0;
    margin-right: 40px;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
    height: 440px;
    margin-top: -440px;
    margin-bottom: -11px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 65px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 0;
    padding-bottom: 50px;
  }

  .u-section-2 .u-shape-1 {
    width: 249px;
    height: 249px;
    margin-top: 26px;
    margin-right: auto;
    margin-left: 46px;
  }

  .u-section-2 .u-image-1 {
    height: 288px;
    margin-top: -268px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1020px;
}

.u-section-3 .u-shape-1 {
  width: 94px;
  height: 94px;
  margin: 60px auto 0 40px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1081px;
  margin: 24px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 559px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 40px;
}

.u-section-3 .u-text-1 {
  font-family: "Archivo Black";
  font-size: 1.975rem;
  background-image: none;
  text-transform: none;
  margin: 35px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 30px 131px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 34px auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 559px; 
  background-position: 50% 6%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 70px 0 0;
}

.u-section-3 .u-shape-2 {
  width: 228px;
  height: 228px;
  margin: -81px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 887px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 631px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 68px;
  }

  .u-section-3 .u-image-1 {
    min-height: 631px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -137px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 680px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 14px 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-3 .u-image-1 {
    min-height: 596px;
    background-position: 75.65% 50%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-3 .u-shape-2 {
    width: 142px;
    height: 142px;
    margin-top: -60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1346px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 486px;
    margin-top: 30px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 40px 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 455px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-shape-2 {
    width: 206px;
    height: 206px;
    margin-top: -88px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 310px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 313px;
  }

  .u-section-3 .u-shape-2 {
    width: 147px;
    height: 147px;
    margin-top: -52px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 806px;
}

.u-section-4 .u-shape-1 {
  width: 473px;
  height: 375px;
  margin: 357px 170px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 702px;
  height: 616px;
  margin: -658px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 590px;
  min-height: 289px;
  background-image: none;
  margin: -368px 0 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 2.25rem;
  margin: 11px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  margin: 20px 341px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-4 .u-shape-1 {
    width: 513px;
    height: 407px;
    margin-right: 130px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -690px;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-4 .u-shape-1 {
    height: 447px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: 77px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -730px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -242px;
    margin-bottom: -156px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-4 .u-shape-1 {
    height: 423px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    width: 495px;
    height: 420px;
    margin-top: -678px;
  }

  .u-section-4 .u-group-1 {
    width: 462px;
    min-height: 305px;
    margin-top: -106px;
    margin-bottom: -136px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 28px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 253px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-4 .u-shape-1 {
    height: 356px;
    width: 285px;
    margin-top: 55px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 288px;
    margin-top: -611px;
  }

  .u-section-4 .u-group-1 {
    min-height: 326px;
    width: 315px;
    margin-top: -47px;
    margin-bottom: -156px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 16px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-3 {
    margin-right: 126px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1086px;
}

.u-section-5 .u-shape-1 {
  width: 114px;
  height: 114px;
  margin: 60px 30px 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 983px;
  margin: 63px auto 0 70px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 581px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 112px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 27px auto 0 0;
  padding: 10px 52px 10px 50px;
}

.u-section-5 .u-image-1 {
  min-height: 581px;
  background-image: url("images/adwe.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-5 .u-group-1 {
  width: 515px;
  min-height: 276px;
  background-image: none;
  margin: -108px 0 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 26px 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 3.4375rem;
  margin: 0;
}

.u-section-5 .u-shape-2 {
  width: 228px;
  height: 228px;
  margin: -252px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 839px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 555px;
  }

  .u-section-5 .u-image-1 {
    min-height: 555px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -107px;
  }

  .u-section-5 .u-shape-2 {
    width: 194px;
    height: 194px;
    margin-top: -263px;
    margin-bottom: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 638px;
    margin-left: 30px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 541px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 81px;
  }

  .u-section-5 .u-btn-2 {
    padding-right: 45px;
    padding-left: 43px;
  }

  .u-section-5 .u-image-1 {
    min-height: 541px;
    background-position: 26.95% 50%;
  }

  .u-section-5 .u-group-1 {
    width: 387px;
    min-height: 300px;
    margin-top: -190px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-5 .u-shape-2 {
    width: 169px;
    height: 169px;
    margin-top: -169px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1581px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 495px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 574px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -114px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1429px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 394px;
  }

  .u-section-5 .u-group-1 {
    min-height: 209px;
    width: 291px;
    margin-top: -30px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-shape-2 {
    width: 140px;
    height: 140px;
    margin-top: 28px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 855px;
}

.u-section-6 .u-shape-1 {
  width: 809px;
  height: 708px;
  margin: 55px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: -570px;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  min-height: 500px;
  background-image: url("images/ukgy-min.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 250px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-6 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-image-2 {
  min-height: 250px;
  background-image: url("images/92684995c67142dc8990e51c93e30319.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  min-height: 250px;
  background-image: url("images/2c208fb9-e3bf-4c51-98d7-6d21d0a5dd40.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  min-height: 250px;
  background-image: url("images/474abe5a-e6a3-4151-958c-ddeb146f5d30.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  width: 449px;
  margin: 81px auto 55px;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-6 .u-image-1 {
    min-height: 412px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 206px;
  }

  .u-section-6 .u-image-2 {
    min-height: 206px;
  }

  .u-section-6 .u-image-3 {
    min-height: 206px;
  }

  .u-section-6 .u-image-4 {
    min-height: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1530px;
  }

  .u-section-6 .u-shape-1 {
    height: 585px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 600px;
    margin-top: -495px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-1 {
    min-height: 631px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-6 .u-image-2 {
    min-height: 316px;
  }

  .u-section-6 .u-image-3 {
    min-height: 316px;
  }

  .u-section-6 .u-image-4 {
    min-height: 316px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2750px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 454px;
    margin-top: -477px;
  }

  .u-section-6 .u-image-1 {
    min-height: 568px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-6 .u-image-2 {
    min-height: 569px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    min-height: 569px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    min-height: 569px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2197px;
  }

  .u-section-6 .u-shape-1 {
    height: 498px;
    width: 398px;
    margin-left: -29px;
    margin-right: -29px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 310px;
    margin-top: -446px;
  }

  .u-section-6 .u-image-1 {
    min-height: 426px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 183px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-2 {
    min-height: 426px;
  }

  .u-section-6 .u-image-3 {
    min-height: 426px;
  }

  .u-section-6 .u-image-4 {
    min-height: 426px;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 59px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 851px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  margin: 60px 82px 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 905px;
  margin: 13px auto 0;
}

.u-section-7 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  grid-gap: 27px 27px;
  min-height: 399px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 40px 20px 20px;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 40px 20px 20px;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.125rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-7 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 40px 20px 20px;
}

.u-section-7 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-7 .u-text-8 {
  font-size: 1.125rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-7 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-text-9 {
  width: 358px;
  margin: 49px auto 60px;
}

.u-section-7 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-list-1 {
    height: auto;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    font-size: 3.75rem;
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    font-size: 3.4375rem;
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-9 {
    width: 340px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 552px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  width: 113px;
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  width: 728px;
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-8 .u-accordion-1 {
  width: 713px;
  margin: 60px auto;
}

.u-section-8 .u-accordion-link-1 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-8 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  margin-top: 0;
  font-size: 1.125rem;
  font-style: italic;
}

.u-section-8 .u-accordion-link-2 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-8 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  margin-top: 0;
}

.u-section-8 .u-accordion-link-3 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-8 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-5 {
  margin-top: 0;
}

.u-section-8 .u-accordion-link-4 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-8 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-4 {
  min-height: 180px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-6 {
  margin: 0;
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    width: 720px;
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-2 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-8 .u-accordion-1 {
    width: 340px;
  }
}.u-section-9 {
  min-height: 452px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 50px 80px 0;
}

.u-section-9 .u-text-2 {
  width: 461px;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 50px auto 0 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 216px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 75px 60px 35px;
}

.u-section-9 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
  margin: -64px 0 0 97px;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 6px 32px 0 auto;
  padding: 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 216px;
}

.u-section-9 .u-container-layout-2 {
  padding: 75px 60px 35px;
}

.u-section-9 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: -64px 0 0 84px;
}

.u-section-9 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 6px 45px 0 auto;
  padding: 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 216px;
}

.u-section-9 .u-container-layout-3 {
  padding: 75px 60px 35px;
}

.u-section-9 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: -64px 0 0 97px;
}

.u-section-9 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 6px -32px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 {
    min-height: 414px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 55px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-9 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-left: 78px;
  }

  .u-section-9 .u-btn-1 {
    font-size: 1.25rem;
    margin-right: 43px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 55px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-9 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-left: 78px;
  }

  .u-section-9 .u-btn-2 {
    font-size: 1.25rem;
    margin-right: 43px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 178px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-top: 55px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-9 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-left: 78px;
  }

  .u-section-9 .u-btn-3 {
    font-size: 1.125rem;
    margin-top: 7px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-9 {
    min-height: 440px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 204px;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-9 .u-icon-1 {
    height: 55px;
    width: 55px;
    margin-left: auto;
  }

  .u-section-9 .u-text-3 {
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 5px;
    margin-right: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-9 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-9 .u-icon-2 {
    height: 55px;
    width: 55px;
    margin-left: auto;
  }

  .u-section-9 .u-text-4 {
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 5px;
    margin-right: auto;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 204px;
  }

  .u-section-9 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-9 .u-icon-3 {
    height: 55px;
    width: 55px;
    margin-left: auto;
  }

  .u-section-9 .u-text-5 {
    margin-top: 19px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-9 .u-btn-3 {
    margin-top: 12px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-9 {
    min-height: 478px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 50px;
    padding-left: 55px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-9 {
    min-height: 771px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}