
@{
    ViewBag.Title = "AnaSayfa";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="hero-wrap">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(../../FrontendFiles/main/images/AnaSayfa3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-8 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2>Sağlık</h2>
                            <h1 class="mb-4">Daha Sağlıklı olmak mümkün</h1>
                            <p><a href="/Contact/Contact/" class="btn btn-white">Bizimle İletişime Geçin</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url(../../FrontendFiles/main/images/anasayfa7.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-8 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2>Biz sağlığınızı önemsiyoruz</h2>
                            <h1 class="mb-4">Sağlığınız güvende...</h1>
                            <p><a href="/Contact/Contact/" class="btn btn-white">Bizimle İletişime Geçin</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url(../../FrontendFiles/main/images/AnaSayfa.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-8 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2>Tavsiye</h2>
                            <h1 class="mb-4">Tavsiyelere kulak verin</h1>
                            <p><a href="/Contact/Contact/" class="btn btn-white">Bizimle İletişime Geçin</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="slider-item" style="background-image: url(../../FrontendFiles/main/images/blog3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-8 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2>Biz sağlığınızı önemsiyoruz</h2>
                            <h1 class="mb-4">Sağlığınız güvende...</h1>
                            <p><a href="/Contact/Contact/" class="btn btn-white">Bizimle İletişime Geçin</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 d-flex">
                <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image: url(../../FrontendFiles/main/images/about.jpg);">
                </div>
            </div>
            <div class="col-md-6 pl-md-5 py-md-5">
                <div class="heading-section pl-md-4 pt-md-5">
                    <span class="subheading">HOŞGELDİNİZ</span>
                    <h2 class="mb-4">En İyisi Biziz </h2>
                </div>
                <div class="services-2 w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wealth"></span></div>
                    <div class="text pl-4">
                        <h4>Kilo Analizi</h4>
                        <p>Kilo herkesin sorunu Diyet yapıyorum ama zayıflayamıyorum diyorsan, doğru ve sağlıklı kilo nasıl verilir ? Hepsine cevap bulabileceksiniz…</p>
                    </div>
                </div>
                <div class="services-2 w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accountant"></span></div>
                    <div class="text pl-4">
                        <h4>Alanında Uzman Doktorlar</h4>
                        <p>Hepsi deneyimli,sayısız makaleleri bulunan hekimler…</p>
                    </div>
                </div>
                <div class="services-2 w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-teamwork"></span></div>
                    <div class="text pl-4">
                        <h4>En Doğru Bilgiler</h4>
                        <p>Doğru bilgiyi araştırıp, bulmak için zaman harcamanıza gerek yok ilgili konu hakkında uzmanlarımız yazdı ve bir arada topladık.</p>
                    </div>
                </div>
                <div class="services-2 w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accounting"></span></div>
                    <div class="text pl-4">
                        <h4>Kısa Sürede Çözüm</h4>
                        <p>Hepsi deneyimli,sayısız makaleleri bulunan hekimler…</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter bg-light ftco-no-pt" id="section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="12">0</strong>
                    </div>
                    <div class="text">
                        <span>Yıllık Deneyim</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="45">0</strong>
                    </div>
                    <div class="text">
                        <span>Makale</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="20">0</strong>
                    </div>
                    <div class="text">
                        <span>Ödül</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="50">0</strong>
                    </div>
                    <div class="text">
                        <span>Uzman Danışman</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  <!--4.kısım year experience -->

@Html.Action("WellKnownMistakes", "Default")


<!--5.kısım happy client -->


@Html.Action("RecentlyPosts","Default")


<!--
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">SON YAZILARIM</span>
                <h2>Sağlık sorunlarına taze çözümler</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded" style="background-image: url(../../FrontendFiles/main/images/image_1.jpg);">
                    </a>
                    <div class="text p-4">
                        <div class="meta mb-2">
                            <div><a href="#">March 31, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded" style="background-image: url(../../FrontendFiles/main/images/image_2.jpg);">
                    </a>
                    <div class="text p-4">
                        <div class="meta mb-2">
                            <div><a href="#">March 31, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded" style="background-image: url(../../FrontendFiles/main/images/image_3.jpg);">
                    </a>
                    <div class="text p-4">
                        <div class="meta mb-2">
                            <div><a href="#">March 31, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->