@using HealthBlog.Entities.Concrete
@model List<ImageFile>

@{
    ViewBag.Title = "DenemeSil";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section CssFiles {


    <link rel="shortcut icon" type="image/x-icon" href="~/FrontendFiles/BlogContent/assets/img/favicon.ico">
    <link rel="stylesheet" href="~/FrontendFiles/BlogContent/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/FrontendFiles/BlogContent/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/FrontendFiles/BlogContent/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/FrontendFiles/BlogContent/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/FrontendFiles/BlogContent/assets/css/hamburgers.min.css">
    <link rel="stylesheet" href="~/FrontendFiles/BlogContent/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/FrontendFiles/BlogContent/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/FrontendFiles/BlogContent/assets/css/slick.css">
    <link rel="stylesheet" href="~/FrontendFiles/BlogContent/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/FrontendFiles/BlogContent/assets/css/style.css">

}

<div class="section-top-border">
    <h3 style="font-family: Papyrus," Sagoe UI",monospace;">Bizden Kareler...</h3>
    <div class="row gallery-item">

        @foreach (var x in Model)
        {



            <div class="col-md-4">
                @*<a href="~/FrontendFiles/BlogContent/assets/img/elements/g1.jpg" class="img-pop-up">*@
                <a href="~/FrontendFiles/Gallery/@x.ImagePath" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(../../FrontendFiles/Gallery/@x.ImagePath);"></div>
                </a>
            </div>


        }


    </div>
</div>


@section Scripts {

    <script src="~/FrontendFiles/BlogContent/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/popper.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/bootstrap.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/jquery.slicknav.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/owl.carousel.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/slick.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/wow.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/animated.headline.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/jquery.magnific-popup.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/gijgo.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/jquery.sticky.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/jquery.counterup.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/waypoints.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/jquery.countdown.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/hover-direction-snake.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/contact.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/jquery.form.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/jquery.validate.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/mail-script.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/plugins.js"></script>
    <script src="~/FrontendFiles/BlogContent/assets/js/main.js"></script>

}