
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/FrontendFiles/main/css/animate.css">
    <link rel="stylesheet" href="~/FrontendFiles/main/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/FrontendFiles/main/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/FrontendFiles/main/css/magnific-popup.css">
    <link rel="stylesheet" href="~/FrontendFiles/main/css/flaticon.css">
    <link rel="stylesheet" href="~/FrontendFiles/main/css/style.css">
    @RenderSection("CssFiles", false)
</head>


<body>

    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-wrap">
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-center">
                                <p class="mb-0 phone pl-md-2">
                                    <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +0539 954 69 04</a>
                                    <a href="mailto:yukseloguzhan53@gmail.com"><span class="fa fa-paper-plane mr-1"></span> yukseloguzhan53@gmail.com</a>
                                </p>
                            </div>
                            <div class="col-md-6 d-flex justify-content-md-end">
                                <div class="social-media">
                                    <p class="mb-0 d-flex">
                                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar  ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <img  class="background black-color" src="~/FrontendFiles/main/images/Logo3.jpg" style="width:180px;height:175px;">
            @*<a class="background black-color" href="index.html">LOGO</a>*@


            <form action="/Default/Search/" method="post" class="searchform order-sm-start order-lg-last">
                <div class="form-group d-flex">
                    <input type="text" name="title" class="form-control pl-3" placeholder="ARA">
                    <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
                </div>
            </form>



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>



            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active"><a href="/Default/Index/" class="nav-link">Ana Sayfa</a></li>
                    <li class="nav-item"><a href="/About/AboutUs/" class="nav-link">Hakkımızda</a></li>
                    <li class="nav-item"><a href="/Gallery/Images/" class="nav-link">Galeri</a></li>
                    <li class="nav-item"><a href="/CategoriesPage/Index/" class="nav-link">Kategoriler</a></li>
                    <li class="nav-item"><a href="/Writer/WritersPage/" class="nav-link">Yazarlarımız</a></li>
                    <li class="nav-item"><a href="/Default/BlogContent/" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="/Contact/Contact/" class="nav-link">İletişim</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->


    <nav>
        @RenderBody()
    </nav>




    <footer class="footer">

        <div id="back-top">
            <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
        </div>

        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-md-9 py-5">
                    <div class="row">
                        <div class="col-md-4 mb-md-0 mb-4">
                            <h2 class="footer-heading">Hakkımızda</h2>
                            <p style="color:white">Deneyim,kısa öz uzmanından hap bilgiler...</p><p style="color:white">Huzur Mahallesi Abdullah Azam Caddesi Caner Sokak No:3/D:2 </p><p style="color:white">Ümraniye/İstanbul</p>
                            <ul class="ftco-footer-social p-0">
                                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-10">
                                    <div class="row">
                                        <div class="col-md-4 mb-md-0 mb-4">
                                            <h2 class="footer-heading">HİZMETLER</h2>
                                            <ul class="list-unstyled">
                                                <li><a href="#" class="py-1 d-block">Etkileyici Yazılar</a></li>
                                                <li><a href="#" class="py-1 d-block">En popüler konular</a></li>
                                                <li><a href="#" class="py-1 d-block">Kısa soru ve cevaplar</a></li>
                                                <li><a href="#" class="py-1 d-block">Bilinen yanlışlara çözümler</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 mb-md-0 mb-4">
                                            <h2 class="footer-heading">Discover</h2>
                                            <ul class="list-unstyled">
                                                <li><a href="#" class="py-1 d-block">Hakkımızda</a></li>
                                                <li><a href="#" class="py-1 d-block">İletişim</a></li>
                                                <li><a href="#" class="py-1 d-block"></a></li>
                                                <li><a href="#" class="py-1 d-block"></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 mb-md-0 mb-4">
                                            <h2 class="footer-heading">POLİTİKALARIMIZ</h2>
                                            <ul class="list-unstyled">
                                                <li><a href="#" class="py-1 d-block">Güvenli</a></li>
                                                <li><a href="#" class="py-1 d-block">Sağlık</a></li>
                                                <li><a href="#" class="py-1 d-block">Yaşam</a></li>
                                                <li><a href="#" class="py-1 d-block">Mahremiyet</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-5">
                        <div class="col-md-12">
                            <p class="copyright">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                                <script></script><span style="color:white">2021 Bütün hakları gizlidir | Design by </span><i class="fa fa-heart" aria-hidden="true"></i><a href="#" target="_blank"><span style="color:blue">Oğuzhan Yüksel</span></a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-md-5 py-4 aside-stretch-right pl-lg-5">
                    <h2 class="footer-heading">Özel Mesaj Gönder</h2>
                    
                    
                    <form  action="/Message/IncomingMessages/" class="form-consultation">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Adınız ve Soyadınız" name="NameAndSurname" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" name="SenderMail" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Konu" name="Subject">
                        </div>
                        <div class="form-group">
                            <textarea name="MessageContent" id="" cols="30" rows="3" class="form-control" placeholder="Mesaj"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control submit px-3">GÖNDER</button>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/FrontendFiles/main/js/jquery.min.js"></script>
    <script src="~/FrontendFiles/main/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/FrontendFiles/main/js/popper.min.js"></script>
    <script src="~/FrontendFiles/main/js/bootstrap.min.js"></script>
    <script src="~/FrontendFiles/main/js/jquery.easing.1.3.js"></script>
    <script src="~/FrontendFiles/main/js/jquery.waypoints.min.js"></script>
    <script src="~/FrontendFiles/main/js/jquery.stellar.min.js"></script>
    <script src="~/FrontendFiles/main/js/jquery.animateNumber.min.js"></script>
    <script src="~/FrontendFiles/main/js/owl.carousel.min.js"></script>
    <script src="~/FrontendFiles/main/js/jquery.magnific-popup.min.js"></script>
    <script src="~/FrontendFiles/main/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/FrontendFiles/main/js/google-map.js"></script>
    <script src="~/FrontendFiles/main/js/main.js"></script>
    @RenderSection("Scripts", false)

</body>
</html>
