@using HealthBlog.Entities.Concrete
@model IEnumerable<IGrouping<string, Content>>

@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



@section CssFiles {

    <link href="~/FrontendFiles/Category/img/favicon.ico" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/FrontendFiles/Category/lib/slick/slick.css" rel="stylesheet">
    <link href="~/FrontendFiles/Category/lib/slick/slick-theme.css" rel="stylesheet">
    <link href="~/FrontendFiles/Category/css/style.css" rel="stylesheet">


}


@{var list = ViewBag.list;}
@{int categoryId = 2;}




<div class="cat-news">
    <div class="container">
        <div class="row">
            <!-- 1 satırda 2 tane var demek-->
            <!--1.for buraya gelir-->
            @foreach (var x in Model)
            {


                <div class="col-md-6">
                    <h2><a href="#">@x.Key</a></h2>
                    <div class="row cn-slider">

                        <!--3 tane olacak for dön-->
                        @foreach (var y in x)
                        {


                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="~/FrontendFiles/ContentImages/@y.ContentImage" style="width:255px;height:171px;"/>
                                    <div class="cn-title">
                                        <a href="/Blog/BlogSingle/@y.ContentId">@y.ContentTitle</a>
                                    </div>
                                </div>
                            </div>
                            <!--3 tane olacak-->
                            categoryId = y.Category.CategoryId;
                        }
                    </div>
                    <a href="/CategoriesPage/CategoryDetail/@categoryId" class="btn btn-success" style="margin-left:85%;">TÜMÜ</a>
                </div>
            }

        </div>
    </div>
</div>


@Html.Action("TwelveContents","CategoriesPage")

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

@section Scripts {

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/FrontendFiles/Category/lib/easing/easing.min.js"></script>
    <script src="~/FrontendFiles/Category/lib/slick/slick.min.js"></script>
    <script src="~/FrontendFiles/Category/js/main.js"></script>

}